
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping</title>
    <link rel="stylesheet" href="~/css/styles.css"/>
  </head>
  <body>

    <h1>Welcome to our shipping company!</h1>
    <a href='/parcels/new'>Ship a new parcel</a>

  </body>
</html>

@* <a href='/parcels'></a> *@
