<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping</title>
  </head>
  <body>
    <h1>Add parcel!</h1>

    <form action="/parcels" method="post">
      <label for="height">Height</label>
      <input id="height" name="height" type="text">
      <label for="width">Width</label>
      <input id="width" name="width" type="text">
      <label for="depth">Depth</label>
      <input id="depth" name="depth" type="text">
      <label for="weight">Weight</label>
      <input id="weight" name="weight" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
