<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Shipping</title>
  </head>
  <body>
    <h2>One or more of your values was not a number.  Try again.</h2>
    <a href="/parcels/new">New parcel</a>
  </body>
</html>
